@use "../base/variables" as v;

header{
    width: 100%;
    border: 0.5px dashed v.$white;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.8125rem;

    img{
        height: 100%;
        width: auto;
        margin-right: .75rem;
    }

    h1{
        color: v.$white;
        font-size: 1.25rem;
        line-height: 1;
        margin: 0;
        font-weight: 700;
    }
}
